extends base.jade
block content
	.autopagerize_page_element:.content
		.about.animated.fadeInDown
			h3 是我
			p 对, 你现在看到的这个家伙, 就是我, 设计湿, 当得了视觉, 撸的起交互, 还能偷偷改几行代码～
			h3 自嘲
			p 
			| 经常嬉笑自嘲, 假装不靠谱.
			p 
			| 早已不是少年但, 却是满腔少年心气. 
			
			h3 热爱
			p 
			| 热爱我的职业是这辈子最幸福的事情, 虽挖过的坑比填的坑还多, 但乐此不疲.
			h3 玩儿
			p 
			| 玩, 什么都玩, 拼命的玩, 新鲜每一天,永远在打鸡血.
			h3 联系
			p
			| 喜欢交朋友, 欢迎给我发邮件（hi#cai-cai.me #=@）, 或者 twitter上 @我～～
			p 
			| 工作联系, 直接发邮件～ 24小时内回复～

			h3 硬广	
			p
			a(href="https://g2.alipay.com/") G2
			| - 一套图形语法
			p
			a(href="https://github.com/hi-caicai/farbox-theme-cais") Cais
			| - 一套 Farbox 博客主题
			p
			a(href="https://github.com/hi-caicai/farbox-theme-Anatole") Anatole
			| - 一套 Farbox 博客主题
			p
			a(href="http://ant.design/") Ant Design
			|  - A design language
			p
			a(href="http://ux.ant.design/") Ant UX 
			| - 一套页面逻辑的素材库
			p
			a(href="https://github.com/hi-caicai/cms.js-themes") cms.js-themes
			| 一套CMS.JS 主题