extends base.jade
block content
	.autopagerize_page_element:.content
		.about.animated.fadeInDown
			h3 是我
			p 对，你现在看到的这个家伙，就是我，设计湿，当得了视觉，撸的起交互，还能偷偷改几行代码～
			h3 自嘲
			p 
			| 经常嬉笑自嘲，假装不靠谱.
			| 早就已经不是少年，但却是满腔少年心气. 
			
			h3 热爱
			p 
			| 热爱我的职业是这辈子最幸福的事情，虽挖过的坑比填的坑还多，但乐此不疲.
			h3 玩儿
			p 
			| 玩，什么都玩，拼命的玩，新鲜每一天，人称“app疯子”，手机内多达300多app来回摆弄～，拍的照片不怎么样，却老喜欢强迫别人拿去当壁纸！
			h3 硬广	
			p	
			| 如果需要老博客主题，请访问:http://old.cai-cai.me
			p
			| 主题Cais，如需要请访问farbox模版页面,预览地址:
			a(href="http://cais.cai-cai.me") 点我点我～
			p
			| 博客目前主题取名Anatole,预览地址:
			a(href="http://anatole.cai-cai.me") 点我点我～
			h3 联系
			p
			| 任何问题，欢迎给我发邮件（hi#cai-cai.me #=@），或者@我～～
